/*
	CSS reset, what else!
*/

article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }
body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address { margin: 0; padding: 0; }
ol, ul { list-style: none; }
img { border: 0; }
fieldset { margin: 0; padding: 0; border: 0; }
input, select, textarea { font-size: 100%; vertical-align: middle; }
input:focus { outline: none; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; }
th { text-align: left; }
a:focus { overflow: hidden; }
a { text-decoration: none; }

/*
	Styles.
*/

body {
	position: relative;
	background: none repeat scroll 0 0 #3d3d3d;
	width: 400px;
	margin: 0 auto;
}

body, input {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 18px;
}

#wrapper {
	background: none repeat scroll 0 0 #e9eaee;
	padding: 15px;
	margin: 50px  0 0 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 5px 5px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
	box-shadow: 5px 5px 5px #000;
}
	#wrapper p {
		padding: 15px;
	}

	p .time {
		display: block;
		padding: 15px 10px 10px 10px;
		text-align: center;
	}
